.preview-container {
    margin: 20px;
  
    table {
      width: 100%;
      margin-bottom: 20px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        color: red;
      }
    }
  }
  